<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Lista de Viajes</h1>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <div class="text-center">
        <h3>Corridas Asignadas</h3>
        <div class="alert alert-primary" role="alert">
          <strong>19 de Enero</strong>
        </div>
      </div>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-gren">Polanco - Santa Fe</h5>
          <h6 class="card-subtitle mb-2 text-muted">Horario de salida</h6>
          <p class="card-text text-gren">8:15 am</p>
          <div>
            <strong>Inicia: </strong> Av. Vasco de Quiroga 1000
          </div>
          <div>
            <strong>Termina: </strong> Av. Ejercto nacional 4, Col. Polanco
          </div>
          <br>
          <div>
            <button class="btn btn-gren btn-lg btn-block">Ver paradas y usuarios</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>