.session-option {
  padding: 10px;
  margin-right: 50px;
}
.nav-color {
  background-color: #4abea6;
}
.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
}

.navbar-light .navbar-brand {
  color: #ffffff !important;
}
